dist/
.idea/
coverage.txt
internal/schemas/.terraform/
internal/schemas/.terraform.lock.hcl
internal/schemas/*log*
internal/schemas/providers.tf
internal/schemas/schemas_gen.go
internal/schemas/data/
__debug_bin
terraform-ls
