* @terraform-google-modules/cft-admins @andreyk-code @jeanno

# CFT Fabric
/examples/submodule_svpc_access/ @terraform-google-modules/cft-fabric
/modules/fabric-net-svpc-access/ @terraform-google-modules/cft-fabric
/modules/fabric-net-firewall/ @terraform-google-modules/cft-fabric
/examples/submodule_firewall/ @terraform-google-modules/cft-fabric
/modules/network-peering/ @terraform-google-modules/cft-fabric
/examples/submodule_network_peering/ @terraform-google-modules/cft-fabric
