name: ci

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Read go version
        id: go-version
        uses: juliangruber/read-file-action@v1
        with:
          path: ./go-version
      -
        name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ steps.go-version.outputs.content }}
      -
        name: Snapshot build (cross-platform)
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: build --snapshot --skip-post-hooks

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-18.04
          - windows-2019
          - macos-10.15
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Read go version
        id: go-version
        uses: juliangruber/read-file-action@v1
        with:
          path: ./go-version
      -
        name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ steps.go-version.outputs.content }}
      -
        name: Go mod verify
        run: go mod verify
      -
        name: Run go fmt
        run: make fmt
      -
        name: Run tests
        run: make test
