name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

permissions:
  contents: write # for uploading release artifacts
  issues: write # for closing milestone via goreleaser
  packages: read # for downloading signore docker image

env:
  GOPROXY: https://proxy.golang.org/

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # https://github.com/actions/checkout/releases/tag/v3.3.0
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # https://github.com/actions/setup-go/releases/tag/v3.5.0
        with:
          go-version-file: ".go-version"
      -
        name: Generate provider schemas
        run: |
          go generate ./internal/schemas
          du -h -s ./internal/schemas/data
      -
        name: Install hc-codesign
        run: |
          docker login docker.pkg.github.com -u docker -p '${{ secrets.CODESIGN_GITHUB_TOKEN }}' && \
          docker pull docker.pkg.github.com/hashicorp/hc-codesign/hc-codesign:$VERSION && \
          echo "image=docker.pkg.github.com/hashicorp/hc-codesign/hc-codesign:$VERSION" >> $GITHUB_OUTPUT
        id: codesign
        env:
          VERSION: v0
      -
        name: Install signore
        uses: hashicorp/setup-signore-package@v1
      -
        name: Setup hc-releases
        uses: hashicorp/setup-hc-releases@v2
        with:
          github-token: ${{ secrets.CODESIGN_GITHUB_TOKEN }}
      -
        name: Release
        uses: goreleaser/goreleaser-action@f82d6c1c344bcacabba2c841718984797f664a6b # https://github.com/goreleaser/goreleaser-action/releases/tag/v4.2.0
        with:
          version: latest
          args: release
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          HC_RELEASES_HOST: ${{ secrets.HC_RELEASES_HOST_STAGING }}
          HC_RELEASES_KEY: ${{ secrets.HC_RELEASES_KEY_STAGING }}
          CODESIGN_IMAGE: ${{ steps.codesign.outputs.image }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
          ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          CIRCLE_TOKEN: ${{ secrets.CIRCLE_TOKEN }}
          SIGNORE_CLIENT_ID: ${{ secrets.SIGNORE_CLIENT_ID }}
          SIGNORE_CLIENT_SECRET: ${{ secrets.SIGNORE_CLIENT_SECRET }}
          SIGNORE_SIGNER: ${{ secrets.SIGNORE_SIGNER }}
      -
        name: Create Release metadata
        uses: hashicorp/actions-hc-releases-create-metadata@v1
        with:
          private-tools-token: ${{ secrets.CODESIGN_GITHUB_TOKEN }}
          product-name: "terraform-ls"
          version: ${{ github.ref_name }}
          hc-releases-host: ${{ secrets.HC_RELEASES_HOST_STAGING}}
          hc-releases-key: ${{ secrets.HC_RELEASES_KEY_STAGING }}
      -
        name: Promote
        uses: hashicorp/actions-hc-releases-promote@v1
        with:
          product-name: "terraform-ls"
          version: ${{ github.ref_name }}
          hc-releases-host: ${{ secrets.HC_RELEASES_HOST_PROD }}
          hc-releases-key: ${{ secrets.HC_RELEASES_KEY_PROD }}
          hc-releases-source_env_key: ${{ secrets.HC_RELEASES_KEY_STAGING }}
      -
        name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@26c46c2ae71508446154299ee81722c06e9a5f1b # https://github.com/aws-actions/configure-aws-credentials/tree/v1-node16
        with:
          aws-access-key-id: ${{ secrets.TERRAFORM_PROD_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TERRAFORM_PROD_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: ${{ secrets.TERRAFORM_PROD_AWS_ROLE_TO_ASSUME }}
          role-skip-session-tagging: true
          role-duration-seconds: 3600
      -
        name: Trigger Post-Publishing Actions (e.g. Linux Packages)
        run: |
          input=$(jq --null-input --arg product "terraform-ls" '{"product": $product}')
          aws sns publish --topic-arn "arn:aws:sns:us-east-1:687797000797:hc-releases-updates-topic" --message "${input}"
