name: "Stale issues and pull requests"

permissions:
  issues: write
  pull-requests: write

on:
  schedule:
  - cron: "10 3 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
      with:
        only-labels: 'waiting-response'

        days-before-stale: 30
        stale-issue-label: 'stale'
        stale-issue-message: |
          Marking this issue as stale due to inactivity over the last 30 days. This helps our maintainers find and focus on the active issues. If this issue receives no comments in the next **30 days** it will automatically be closed. Maintainers can also remove the stale label.

          Thank you for understanding.
        stale-pr-label: 'stale'
        stale-pr-message: |
          Marking this pull request as stale due to inactivity over the last 30 days. This helps our maintainers find and focus on the active pull requests. If this pull request receives no comments in the next **30 days** it will automatically be closed. Maintainers can also remove the stale label.

          Thank you for understanding.

        days-before-close: 30
        close-issue-message: |
          Closing this issue due to its staleness.

          If the issue was automatically closed and you feel it should be reopened, we encourage creating a new one linking back to this one for added context.

          Thank you!
        close-pr-message: |
          Closing this pull request due to its staleness.

          If the pull request was automatically closed and you feel it should be reopened, we encourage creating a new one linking back to this one for added context.

          Thank you!
