name: test

on:
  pull_request:
  push:
    branches:
      - main

env:
  GOPROXY: https://proxy.golang.org/

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: ".go-version"
      - name: Go mod download
        run: go mod download -x
      - name: Go mod verify
        run: go mod verify
      - name: Run go fmt
        run: go run github.com/mh-cbon/go-fmt-fail ./...
      - name: Run tests
        run: go test -cover -covermode=atomic -timeout=5m -race ./...
